@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: #ffffff;
  --dark: #171717;
  --primary: #6366f1;
  --secondary: #44f8f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #0a0a0a;
    --light: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounceTwice {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-bounce-twice {
  animation: bounceTwice 2s ease-in-out infinite;
}
